/*to center the canvas*/
body{
    text-align: center;
}
/*canvas with black color in the center*/
/* adding borders red in color*/
#board
{
    background-color: black;
    border-top: 5px solid red ;
    border-left:5px solid red ;
    border-right:5px solid red ;
}

